@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import "./character";
@import "./mixins";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Chilanka", cursive;
  font-size: 1.6rem;
  font-weight: 400;
}

.character-container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to bottom,
    rgb(38, 194, 173) 0%,
    rgb(38, 194, 173) 70%,
    rgb(48, 124, 118) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include respond(tab-port) {
    flex-direction: column;
  }
}

.jerry-custome {
  transform: scale(1.5);
  cursor: pointer;
}

.clip {
  background-color: black;
  clip-path: polygon(
    0 7%,
    100% 19%,
    100% 71%,
    75% 75%,
    75% 100%,
    50% 75%,
    0 80%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10rem;
  margin-top: -30rem;
  height: 40rem;
  width: 60rem;
  z-index: 10;
  position: relative;
  @include respond(tab-port) {
    margin-bottom: -7rem;
  }
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 95%;
  height: 85%;
  padding: 2rem;
  text-align: center;
  clip-path: polygon(
    0 7%,
    100% 19%,
    100% 71%,
    75% 75%,
    75% 100%,
    50% 75%,
    0 80%
  );
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(80%, 20%);
  }

  20% {
    opacity: 0;
  }

  80% {
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
